<h1>Your Short URLs</h1>


<% if (user) { %>
<form method="POST" action="/logout">
  <label for="username"><h2>Username: <%= user.email %></h2></label>
  <button type="submit">Logout</button>
</form>
<% } else { %>
  <a href="/register"><h2>Register</h2></a>
  <a href="/login"><h2>Login</h2></a>
<% } %>
