<h1>Your Short URLs</h1>



<form method="POST" action="/login">
  <label for="username"><h2>Username: <%= username %></h2></label>
  <input type="text" name="username" style="width: 300px">
  <button type="submit">Submit</button>
</form>