<h1>Your Short URLs</h1>

<a href="/login"><h2>Register</h2></a>

<% if (user) { %>
<form method="POST" action="/logout">
  <label for="username"><h2>Username: <%= user.email %></h2></label>
  <button type="submit">Logout</button>
</form>
<% } else { %>
<form method="POST" action="/login">
  <input type="text" name="username" style="width: 300px">
  <button type="submit">Submit</button>
</form>
<% } %>
