<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiny App - Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            Welcome to Tiny App
          </h1>
          <h2 class="subtitle is-size-3">
            Register to Get Started
          </h2>
        </div>
      </div>
    </section>
    <form method="POST" action="/register"  style="margin: 150px;">
      <h2 class="subtitle is-1">Register</h2>
      <label class="label subtitle is-3" for="email">E-mail</label>
      <input class="input is-large" id="email" type="email" name="email" placeholder="user@email.com" style="width: 300px">
      <label class="label subtitle is-3" for="password">Password</label>
      <input class="input is-large" id="password" type="password" name="password" placeholder="Password" style="width: 300px">
      <input class="button is-medium is-primary is-outlined" type="submit" value="Submit">
    </form>
  </body>
</html>